pymongo[srv]
motor==3.0.0
pymongo==4.1.1
psutil==5.9.1
TgCrypto==1.2.3
pykeyboard==0.1.5
python-arq==6.0.5
requests==2.27.1
python-dotenv==0.20.0
regex!=2021.8.27
cachetools==5.1.0
uvloop==0.16.0
pytz==2022.1
dateparser==1.1.1
gpytranslate==1.4.0
EmojiCaptcha==0.1.2
captcha==0.4 
googletrans==3.1.0a0
telegraph==2.1.0
pyrogram==1.4.16
pyyaml==5.4